### Import Dependencies

In [1]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../Dataset/COVID-data.csv')

# We will consider cases for INDIA only
df = df[df.location == 'India'].reset_index()
df.head()

,index,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,24935,IND,Asia,India,2020-01-30,1.0,1.0,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64
1,24936,IND,Asia,India,2020-01-31,1.0,0.0,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64
2,24937,IND,Asia,India,2020-02-01,1.0,0.0,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64
3,24938,IND,Asia,India,2020-02-02,2.0,1.0,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64
4,24939,IND,Asia,India,2020-02-03,3.0,1.0,NaN,NaN,NaN,...,6426.674,21.2,282.28,10.39,1.9,20.6,59.55,0.53,69.66,0.64

In [3]:
#drop unnecessaily columns

df.isnull().sum()

index                                      0
iso_code                                   0
continent                                  0
location                                   0
date                                       0
total_cases                                0
new_cases                                  0
new_cases_smoothed                         5
total_deaths                              41
new_deaths                                41
new_deaths_smoothed                        5
total_cases_per_million                    0
new_cases_per_million                      0
new_cases_smoothed_per_million             5
total_deaths_per_million                  41
new_deaths_per_million                    41
new_deaths_smoothed_per_million            5
reproduction_rate                         60
icu_patients                             360
icu_patients_per_million                 360
hosp_patients                            360
hosp_patients_per_million                360
weekly_icu_admissions                    360
weekly_icu_admissions_per_million        360
weekly_hosp_admissions                   360
weekly_hosp_admissions_per_million       360
total_tests                               57
new_tests                                 64
total_tests_per_thousand                  57
new_tests_per_thousand                    64
new_tests_smoothed                        51
new_tests_smoothed_per_thousand           51
positive_rate                             52
tests_per_case                            52
tests_units                               44
total_vaccinations                       351
new_vaccinations                         352
new_vaccinations_smoothed                352
total_vaccinations_per_hundred           351
new_vaccinations_smoothed_per_million    352
stringency_index                          12
population                                 0
population_density                         0
median_age                                 0
aged_65_older                              0
aged_70_older                              0
gdp_per_capita                             0
extreme_poverty                            0
cardiovasc_death_rate                      0
diabetes_prevalence                        0
female_smokers                             0
male_smokers                               0
handwashing_facilities                     0
hospital_beds_per_thousand                 0
life_expectancy                            0
human_development_index                    0
dtype: int64

In [4]:
drop_col = ['index', 'iso_code', 'continent', 'location', 'reproduction_rate',
            'icu_patients', 'icu_patients_per_million', 'hosp_patients',
            'hosp_patients_per_million', 'weekly_icu_admissions',
            'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
            'weekly_hosp_admissions_per_million', 'total_vaccinations',
            'new_vaccinations', 'total_vaccinations_per_hundred',
            'new_vaccinations_smoothed', 'stringency_index', 'gdp_per_capita', 
            'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 
            'female_smokers', 'male_smokers', 'handwashing_facilities', 
            'hospital_beds_per_thousand', 'human_development_index']

df = df.drop(drop_col, axis=1)
df.head()

,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,...,positive_rate,tests_per_case,tests_units,new_vaccinations_smoothed_per_million,population,population_density,median_age,aged_65_older,aged_70_older,life_expectancy
0,2020-01-30,1.0,1.0,NaN,NaN,NaN,NaN,0.001,0.001,NaN,...,NaN,NaN,NaN,NaN,1.380004e+09,450.419,28.2,5.989,3.414,69.66
1,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,0.001,0.000,NaN,...,NaN,NaN,NaN,NaN,1.380004e+09,450.419,28.2,5.989,3.414,69.66
2,2020-02-01,1.0,0.0,NaN,NaN,NaN,NaN,0.001,0.000,NaN,...,NaN,NaN,NaN,NaN,1.380004e+09,450.419,28.2,5.989,3.414,69.66
3,2020-02-02,2.0,1.0,NaN,NaN,NaN,NaN,0.001,0.001,NaN,...,NaN,NaN,NaN,NaN,1.380004e+09,450.419,28.2,5.989,3.414,69.66
4,2020-02-03,3.0,1.0,NaN,NaN,NaN,NaN,0.002,0.001,NaN,...,NaN,NaN,NaN,NaN,1.380004e+09,450.419,28.2,5.989,3.414,69.66

In [5]:
#save dataset
df.to_csv('../Dataset/India.csv',index=False)